html , .body
{
    scroll-behavior: smooth;
}
body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #1f1f1f;
    width: auto;
}
/* Some ideas and codes are inspired by other developers and was modified into my preferences*/
/* Scrollbar */
::-webkit-scrollbar {
    width: 0.4rem;
}
::-webkit-scrollbar-track {
    background: #1f1f1f;
}

::-webkit-scrollbar-thumb {
    background: coral;
    border-radius: 2rem;
}
::-webkit-scrollbar-thumb:hover {
    background: #c76408;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
    z-index: 1000;
    transition: 0.6s;
}
header.sticky
{
    padding: 5px 50px;
    background: #fff;
    border-bottom: 1px solid (0,0,0,.1);
}
header .logo
{
    width: 40px;
    height: 40px;
    padding-left: 15px;
    position: relative;
    font-weight: 700;
    transition: 0.6s;
}
header ul
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "SUSE", sans-serif;
    font-weight: 600;
}
header ul li
{
    position: relative;
    list-style: none;
}
header ul li a
{
    position: relative;
    margin: 0 20px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    transition: 0.6s;
}
header.sticky ul li a
{
    color: black;
    padding-right: 100px;
}
/* Home */
#wrapper {
	position: relative;
	height: 100vh;
}
#banner {
	position: absolute;
	height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}
#banner::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
}
#background-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
 }
.banner-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.banner-text h2 {
	font-family: Garamond;
	font-size: 70px;
	margin: 0;
	color: #fff;
	text-transform: uppercase;
    letter-spacing: 1px;
}
.banner-text h2 span {
	color: coral;
}
.banner-text p {
	font-size: 18.5px;
	color: #fff;
}
.banner-text a {
	text-decoration: none;
	background: coral;
	color: #fff;
	display: inline-block;
	padding: 12px 45px;
	margin: 15px;
	text-transform: uppercase;
	font-family: 'SUSE', serif;
	font-weight: 500;
	border: 2px solid #fff;
}
.banner-text a.btn {
	background-color: transparent;
}
.heading {
    width: 100%;
    height: 15vh;
    background: coral;
    position: relative;
    margin-top: -40px;
}
.heading h1{
    font-size: 60px;
    padding-top: 10px;
    font-family: 'SUSE', sans-serif;
    color: #0f0f0f;
    text-align: center;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    text-shadow: 0 20px 20px #8a4607;
    font-weight: 900;
}
.timeline {
    width: 1100px;
    margin: 40px auto;
    position: relative;
    margin-bottom: 80px;
}
.container .arrow-l::after{
        content: "";
        position: absolute;
        height: 21px;
        width: 21px;
        background: coral;
        border-radius: 50%;
        box-shadow: 0px 0px 5px 5px #1f1f1f;
        z-index: 10;
        top: -10px;
        left: 37px;
}
.container .arrow-r::after{
    content: "";
    position: absolute;
    height: 21px;
    width: 21px;
    background: coral;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 5px #1f1f1f;
    z-index: 10;
    top: -10px;
    right: 38px;
}
.timeline::after{
    content: "";
    position: absolute;
    right: 50%;
    top: 10px;
    height: 135vh;
    width: 5px;
    background: coral;
    border-radius: 50px;
    z-index: -1;
    animation: lineanimation 5s linear forwards;
    animation-timeline: view(38px);
}
@keyframes lineanimation{
    0%{height: 0vh;}
    30%{height: 40vh;}
    40%{height: 55vh;}
    70%{height: 135vh;}
}
.container {
    width: 40%;
    position: relative;
    padding: 10px 20px;
    animation: Container linear forwards;
    opacity: 0;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 150px;
}
@keyframes Container{
    55% {
        opacity: 0;
    }75% {
        transform: translateY(-35px)
    }
    100% {
        opacity: 1;
    }
}
.container:nth-child(even){
    right: -56%;
}
.text-box {
    padding: 5px 30px;
    border-radius: 10px;
    box-shadow: 7px 7px 12px coral;
}
.text-box .arrow-l{
    height: 0;
    width: 0;
    position: absolute;
    top: 40px;
    z-index: 1;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 15px solid coral;
    right: -20px;
}
.text-box .arrow-r{
    height: 0;
    width: 0;
    position: absolute;
    top: 40px;
    z-index: 1;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 15px solid coral;
    left: -20px;
}
.text-box h2 {
    font-size: 17px;
    color: #fff;
    font-family: 'SUSE', serif;
    font-style: italic;
}
.text-box small{
    font-size: 12px;
    color: #fff;
    font-family: 'SUSE', serif;
}
.text-box p{
    margin-top: 8px;
    color: #fff;
    font-family: 'Suse', sans-serif;
    font-size: 15px;
}
#htwo{
    color: coral;
    text-shadow: 0 10px 10px#8a4607;
    font-style: normal;
    font-size: 21px;
}
.text-box span{
    color: coral;
    text-shadow: 0 10px 10px#8a4607;
    padding-left: 12px;
    font-style: normal;
    font-size: 21px;
}
.date-l {
    font-size: 20px;
    font-family: 'SUSE',serif;
    color: #fff;
    top: 52px;
    position: absolute;
    right: -150px;
}
.date-r {
    font-size: 20px;
    font-family: 'SUSE',serif;
    color: #fff;
    top: 53px;
    position: absolute;
    left: -150px;
}
#bc{
    right: -180px;
}
.impact {
    width: 100%;
    height: 40vh;
    background: #fff;
}
.textbox {
    align-items: center;
    animation: fadein forwards;
    animation-timeline: view(70px);
    width: 100%;
    margin-left: -20px;
}
@keyframes fadein{
    from{opacity: 0;}
    to{opacity: 1;
    transform: translateX(20px);}
}
.textbox h1 {
    font-size: 25px;
    font-family:monospace;
    padding-top: 50px;
    padding-left: 40px;
    font-weight: 500;
    letter-spacing: -2px;
}
.textbox h3 {
    font-size: 25px;
    font-family: "SUSE", serif;
    padding-left: 40px;

}
.textbox h5 {
    font-size: 13px;
    font-family:"SUSE", sans-serif;
    color: #1f1f1f;
    padding-left: 40px;
    opacity: 0.9;
}
/* FIGURES */
.team{
	position: relative;
	width: 100%;
	height: 130vh;
	background: radial-gradient(#1f1f1f, #1a1a1a);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.team-content{
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, auto));
	align-items: center 0px;
	gap: 1rem;
	text-align: center;
    margin-bottom: 10px;
}
.team-content img{
	width: 200px;
	height: 160px;
	border-radius: 15px;
	margin-bottom: 15px;
    margin-top: 10px;
}
.center h1{
	color: #fff;
	font-size: 4rem;
	text-align: center;
    font-family: Garamond;
    font-weight: 700;
}
.box{
	padding: 10px;
	background: #d4d4d4;
	border-radius: 15px;
	transition: all .38s ease;
}
.box h3{
	font-size: 23px;
	font-weight: 600;
	color: #1f1f1f;
	margin-bottom: 8px;
    font-family: "SUSE", serif;
}
.box h5{
	font-size: 15px;
	font-weight: 600;
	color: #535353;
	margin-bottom: 15px;
	letter-spacing: 2px;
    font-family: "SUSE", serif;
}
.box:hover{
	transform: translateY(-10px);
	cursor: pointer;
    box-shadow: 10px 10px 20px rgb(0, 0, 0);
}
.text p {
    font-size: 13px;
    color: #000000;
    font-family: "SUSE", serif;
    text-align: left;
    padding-top: 10px;
}
/* SLIDER */
.wrp h1{
    font-size: 60px;
    font-family: 'SUSE', sans-serif;
    color: #0f0f0f;
    text-align: center;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    text-shadow: 0 20px 20px #8a4607;
    font-weight: 900;
}
.wrp {
    height: 100vh;
    width: 100%;
    background-color: rgb(233, 108, 63);
    position: absolute;
}
#slider {
    margin:0 auto;
    width: 900px;
    max-width: 100%;
    text-align: center;
 }
 #slider h2{
    top: -80px;
    position: relative;
    font-size: 40px;
    font-family: "SUSE", serif;
    font-weight: 700;
 }
 #slider p{
    font-size: 20px;
    opacity: 0.9;
    position: relative;
 }
 #slider input[type=radio] {
    display: none;
 }
 #slider label {
    cursor:pointer;
    text-decoration: none;
 }
 #slides {
    padding: 10px;
    border: 3px solid #1f1f1f;
    background: #1f1f1f;
    position: relative;
    z-index: 1;
 }
 #overflow {
    width: 100%;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }
 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 300px;
 }
 #slides .slide {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
 }
 #slides .slide_1 {
    background: #00171F;
 }
 #slides .slide_2 {
    background: #00171F;
 }
 #slides .slide_3 {
    background: #00171F;
 }
 #slides .slide_4 {
    background: #00171F;
 }
 #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }
 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }
 #controls label:hover {
    opacity: 1;
 }
 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }
 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #ccc;
    margin: 0 10px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4) {
    background: #444;
 }